.divslider{
    width: 100%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: url("../imgs/bgslider.png");
}
body{
    padding-top: 50px;
}
section{
    padding-top: 45px;
    padding-bottom: 15px;
    min-height: 100vh;
}
html{
    scroll-behavior: smooth;
}
.foto-servicos{
    width: 300px;
}
.header-padding{
    padding-bottom: 20px;
}
.portfolio-item{
    background-color: aquamarine;
}
.portfolio-item h4{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.row-portfolio{
    margin-bottom: 10px;
}
.row-portfolio:last-child{
    margin-bottom: 0px;
}
.btn-right{
    float: right;
}
.textarea-contatos{
    height: 170px;
}
.contato .aviso{
    padding: 15px;
}
footer{
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: url("../imgs/old_moon.png");
}
.header-portfolio{
    padding-top: 20px;
    padding-bottom: 20px;;
}
.form-login{
    max-width: 350px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #343a40;
}
h2.login{
    color: #fff;
}
.form-login input{
    margin-bottom: 10px;
}
label.login{
    color: #fff;
}
a.icon{
    margin-right: 80px;
}
.painel{
    margin-top: 30px;;
}